/*
 * @kit: CoreKit
 * @version: 2.6
 * @latest-update: Validation
 * @project: Bruut Framework 2.x
 */

// Some extra base variables
$_bruut--output-show-hide-classes:          false !default;
$_bruut--output-text-alignment-classes:     false !default;
$_bruut--output-float-classes:              false !default;
$_bruut--output-color-classes:              false !default;
$_bruut--output-whitespace-classes:         false !default;

@import "utilities/normalize";
@import "utilities/print";

@import "mixins/mixins";
@import "functions/functions";

@import "components/html";
@import "components/responsive-embed";
@import "components/fonts";
@import "components/icons";
@import "components/helpers";

@import "packs/GridPack/GridPack";
@import "packs/SpacePack/SpacePack";
@import "packs/ImagePack/ImagePack";
