/*
 * @kit: ImageKit
 * @version: 0.5
 * @project: Bruut Framework 2.0
 */

$bg-positions: (
	left-bottom: 	'left bottom',
	center-bottom: 	'center bottom',
	right-bottom: 	'right bottom',
	left-center: 	'left center',
	center-center: 	'center center',
	right-center: 	'right center',
	left-top: 		'left top',
	center-top: 	'center top',
	right-top: 		'right top'
);

.cover-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;

	@each $key, $value in $bg-positions {
		&[data-bg-position="#{$value}"]{
			background-position: #{$value};
		}
	}
}

.cover-image noscript {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.cover-image--mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000, .2);

	&[data-mask-strength="1"] {
		background: rgba(#000, .1);
	}

	&[data-mask-strength="2"] {
		background: rgba(#000, .2);
	}

	&[data-mask-strength="3"] {
		background: rgba(#000, .3);
	}

	&[data-mask-strength="4"] {
		background: rgba(#000, .4);
	}

	&[data-mask-strength="5"] {
		background: rgba(#000, .5);
	}
}

.responsive-image > img,
.responsive-image noscript > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	max-width: 100%;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.responsive-image {
	position: relative;
	background: #EEE;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.responsive-image.is-loaded > img,
.responsive-image.no-lazy > img,
.responsive-image noscript > img {
	-webkit-animation: fadeIn .5s both;
	        animation: fadeIn .5s both;
}
