//
// Basic settings
// --------------------------------------------------

	%grid-basic-column-settings {
		position: relative;
		float: left;
	}

//
// Assign the class in the $_bruut-GridPack-settings for the wrapper to the %grid-core-content-wrapper
// --------------------------------------------------

@if($_bruut-GridPack-output-css == true){

		// Assign the class in the $_bruut-GridPack-settings for the wrapper to the %grid-core-content-wrapper
		.#{$_bruut-GridPack-name-for-wrapper}{
			@include is-wrapper();

			@if($_bruut-GridPack-fluid != true) {

				@each $breakpoint, $width in $_bruut-GridPack-wrapper-widths {

					@if($breakpoint == 'base') {

					}@else {
						@include breakpoint($breakpoint) {
							max-width: ($width + (2 * $_bruut-GridPack-viewport-spacing));
						}
					}
				}
			}
		}

	// Create the Flex container + columns
	.#{$_bruut-GridPack-name-for-flex-row} {
		display: flex;
		flex-wrap: wrap;
		margin-left: -$_bruut-GridPack-column-spacing;
		margin-right: -$_bruut-GridPack-column-spacing;

		.#{$_bruut-GridPack-name-for-flex-column} {
			position: relative;
			padding-left: $_bruut-GridPack-column-spacing;
			padding-right: $_bruut-GridPack-column-spacing;
			flex: 1 0 auto;
		}
	}

	@if($_bruut-GridPack-float-breakpoint != false) {
		.#{$_bruut-GridPack-name-for-flex-row} {
			flex-wrap: wrap;
		}
	}

	.#{$_bruut-GridPack-name-for-flex-column}.#{$_bruut-GridPack-name-for-flex-grow-addition} {
		flex: 1 0 auto;
	}

	// X axis
	.flex-x-left {
		justify-content: flex-start;
	}

	.flex-x-right {
		justify-content: flex-end;
	}

	.flex-x-center {
		justify-content: center;
	}

	.flex-x-space-around {
		justify-content: space-around;
	}

	.flex-x-space-between {
		justify-content: space-between;
	}

	// Alignments
	.flex-y-top {
		align-items: flex-start;
	}

	.flex-y-bottom {
		align-items: flex-end;
	}

	.flex-y-center {
		align-items: center;
	}

	.flex-y-stretch {
		align-items: stretch;
	}

	.flex-y-baseline {
		align-items: baseline;
	}

// //
// // Create inline row + column + helper classes (middle + bottom)
// // --------------------------------------------------

	.#{$_bruut-GridPack-name-for-row}-inline{
		@include is-inline-row();
	}

	.#{$_bruut-GridPack-name-for-row}-inline > .#{$_bruut-GridPack-name-for-column} {
		@include is-inline-column();
	}

//
// Assign the class in the $_bruut-GridPack-settings for the row to the %grid-core-row
// --------------------------------------------------

	.#{$_bruut-GridPack-name-for-row}{
		@include is-row();
	}

	.#{$_bruut-GridPack-name-for-column} {
		@extend %grid-basic-column-settings;
		padding-right: $_bruut-GridPack-column-spacing;
		padding-left: $_bruut-GridPack-column-spacing;
		width: 100%;
	}

	.#{$_bruut-GridPack-name-for-flex-column}.#{$_bruut-GridPack-name-for-flex-auto-addition} {
		//width: auto;
		flex: 0 1 auto;
	}

//

@if($_bruut-GridPack-use-numbered-columns == true) {
	@for $columnName from 1 through $_bruut-GridPack-numbered-columns-count {
		.#{$_bruut-GridPack-name-for-column}.#{$_bruut-GridPack-numbered-column-name}-#{$columnName}-of-#{$_bruut-GridPack-numbered-columns-count}{
			width: 100% / $_bruut-GridPack-numbered-columns-count * $columnName;
		}
	}

	@each $breakpoint-name, $breakpoint-value in $_bruut--breakpoints-map {

		@include breakpoint($breakpoint-name) {
			@for $columnName from 1 through $_bruut-GridPack-numbered-columns-count {
				.#{$_bruut-GridPack-name-for-column}.#{$_bruut-GridPack-numbered-column-name}-#{$columnName}-of-#{$_bruut-GridPack-numbered-columns-count}--#{$breakpoint-name}{
					width: 100% / $_bruut-GridPack-numbered-columns-count * $columnName;
				}
			}
		}
	}
}

//
// Create push- pull- classes for each breakpoint
// --------------------------------------------------

	@include grid-builder-make-columns();

	// Extra's needed ?
	@if($_bruut-GridPack-output-column-extras == true){
		@include grid-builder-make-columns-extras();
	}

	@each $breakpoint-name, $breakpoint-value in $_bruut--breakpoints-map {

		@include breakpoint($breakpoint-name) {
			@include grid-builder-make-columns($breakpoint-name);

			// Extra's needed ?
			@if($_bruut-GridPack-output-column-extras == true){
				@include grid-builder-make-columns-extras($breakpoint-name);
			}
		}

		@include breakpoint($breakpoint-name) {
			.#{$_bruut-GridPack-name-for-flex-column}.auto-#{$breakpoint-name} {
				//width: auto;
				flex: 0 1 auto;
			}
		}

		@include breakpoint($breakpoint-name) {
			.#{$_bruut-GridPack-name-for-flex-column}.#{$_bruut-GridPack-name-for-flex-grow-addition}-#{$breakpoint-name} {
				flex: 1 0 auto;
			}
		}
	}

	.#{$_bruut-GridPack-name-for-row} .#{$_bruut-GridPack-name-for-column}-align-middle {
		vertical-align: middle;
	}

	.#{$_bruut-GridPack-name-for-row} .#{$_bruut-GridPack-name-for-column}-align-bottom {
		vertical-align: bottom;
	}

//
// Don't delete this one: set all grid items with name-for-column to 100% on a certain breakpoint($mobile)
// --------------------------------------------------

	@if($_bruut-GridPack-float-breakpoint != false) {

		// Set all the classes to 100%, except the ones with a prefix for a width on float breakpoint width
		// Use with caution: IE9+

		.#{$_bruut-GridPack-name-for-column}:not([class*='-#{$_bruut-GridPack-float-breakpoint}']) {

			@include breakpoint($_bruut-GridPack-float-breakpoint) {
				width: 100% !important; 		// set to 100% width
				margin-left: 0;				// Removes the push margins
				margin-right: 0;				// Removes the pull margins
				left: 0;			 			// Removes the offset
			}
		}
	}
}
