//
// Grid mixin for building a grid wrapper
// --------------------------------------------------

	@mixin is-wrapper($max-width: map-get($_bruut-GridPack-wrapper-widths, base), $viewport-padding: $_bruut-GridPack-viewport-spacing) {
		@include clearfix();
		position: relative;
		margin: 0 auto;
		padding-right: $viewport-padding;
		padding-left: $viewport-padding;
		//max-width: ($max-width + (2 * $_bruut-GridPack-column-spacing) + (2 * $viewport-padding));
		max-width: ($max-width + (2 * $viewport-padding));
		width: 100%;
	}

//
// Grid mixin for building a grid row
// --------------------------------------------------

	@mixin is-row($margin: $_bruut-GridPack-column-spacing) {
		@include clearfix();
		margin-right: -$margin;
		margin-left: -$margin;
	}

	@mixin is-inline-row($margin: $_bruut-GridPack-column-spacing) {
		@include clearfix();
		margin-right: -$margin;
		margin-left: -$margin;
		//font-size: 0;
	}


	@mixin is-flex-row($margin: $_bruut-GridPack-column-spacing) {
		display: flex;
		margin-right: -$margin;
		margin-left: -$margin;
	}

//
// Grid mixin for building a grid column
// --------------------------------------------------

	@mixin is-column($column-size: 100%, $padding: $_bruut-GridPack-column-spacing){

		@if(map-has-key($_bruut--column-sizes-map, $column-size) != false) {
			$column-size: map-get($_bruut--column-sizes-map, $column-size);
		}

		position: relative;
		float: left;
		width: $column-size;
		padding-left: $padding;
		padding-right: $padding;
		min-height: 1px;
	}

	@mixin is-inline-column($column-size: auto, $padding: $_bruut-GridPack-column-spacing){

		@if(map-has-key($_bruut--column-sizes-map, $column-size) != false) {
			$column-size: map-get($_bruut--column-sizes-map, $column-size);
		}

		width: $column-size;
		max-width: 100%; 							// Limiter
		padding-left: $padding;
		padding-right: $padding;
		@include inline-block; 						// Inline block
		vertical-align: top; 						// Set it to top as standard
		float: none; 								// Remove the standard float
		@include rem(font-size, $base-font-size); 	// Set the font size to standard
		min-height: 1px;
	}


	@mixin is-flex-column($column-size: 100%, $padding: $_bruut-GridPack-column-spacing) {
		@if(map-has-key($_bruut--column-sizes-map, $column-size) != false) {
			$column-size: map-get($_bruut--column-sizes-map, $column-size);
		}

		position: relative;
		width: $column-size;
		padding-left: $padding;
		padding-right: $padding;
		min-height: 1px;
	}

//
// Grid mixin for looping trough the columns defined in the configuration scss
// --------------------------------------------------

	@mixin grid-builder-make-columns($breakpoint-name: false) {
		@each $column-name, $column-size in $_bruut--column-sizes-map {

			@if(map-has-key($_bruut--breakpoints-map, $breakpoint-name) == false) {
				.#{$_bruut-GridPack-name-for-column}.#{$column-name} {
					width: #{$column-size};
				}

				.#{$_bruut-GridPack-name-for-flex-column}.#{$column-name} {
					flex: 0 1 auto;
					width: #{$column-size};
				}
			}

			@else {

				.#{$_bruut-GridPack-name-for-column}.#{$column-name}-#{$breakpoint-name} {
					width: #{$column-size};
				}

				.#{$_bruut-GridPack-name-for-flex-row} > .#{$_bruut-GridPack-name-for-flex-column}.#{$column-name}-#{$breakpoint-name} {
					flex: 0 1 auto;
					width: #{$column-size};
				}
			}
		}
	}

//
// Grid mixin for making the (standard) offsets, push and pull classes (for each breakpoint)
// --------------------------------------------------

	@mixin grid-builder-make-columns-extras($breakpoint-name: false){
		@each $column-name, $column-size in $_bruut--column-sizes-map {

			@if(map-has-key($_bruut--breakpoints-map, $breakpoint-name) == false) {

				.push-#{$column-name} {
					left: #{$column-size};
				}

				.pull-#{$column-name} {
					left: -#{$column-size};
				}

				.offset-#{$column-name} {
					margin-left: #{$column-size};
				}
			}

			@else {

				.push-#{$column-name}-#{$breakpoint-name} {
					left: #{$column-size};
				}

				.pull-#{$column-name}-#{$breakpoint-name} {
					left: -#{$column-size};
				}

				.offset-#{$column-name}-#{$breakpoint-name} {
					margin-left: #{$column-size};
				}
			}
		}
	}
