//
//	Automatic theme color, bg & border-color generator
// --------------------------------------------------

	@if($_bruut--output-color-classes == true) {

		@each $color, $value in $_bruut--colors-map {

			html .color-#{$color} {
				color: $value;
			}

			html .background-#{$color} {
				background-color: $value;
			}

			html .border-#{$color} {
				border-color: $value;
			}
		}
	}

.clearfix {
	@include clearfix();
	display: block;
}

@mixin text--left {
	text-align: left;
}

@mixin text--right {
	text-align: right;
}

@mixin text--center {
	text-align: center;
}

.round {
	border-radius: 50%;
}

.radius {
	border-radius: $base-border-radius;
}

.block-center {
	margin: 0 auto;
}

@if($_bruut--output-show-hide-classes == true) {

	html .show-block,
	html .show,
	html .block {
		display: block;
	}

	html .show-inline-block,
	html .inline-block {
		@include inline-block;
	}

	html .hide {
		display: none;
	}

	html .hide--touch {
		.touch & {
			display: none;
		}
	}

	.show--touch {
		display: none;

		.touch & {
			display: block;
		}
	}

	@each $breakpoint-name, $breakpoint-value in $_bruut--breakpoints-map {
		html .hide-on-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				display: none;
			}
		}

		html .show-on-#{$breakpoint-name}-block,
		html .show-on-#{$breakpoint-name} {
			display: none;

			@include breakpoint($breakpoint-name ) {
				display: block;
			}
		}

		html .show-on-#{$breakpoint-name}-inline-block {
			display: none;

			@include breakpoint($breakpoint-name) {
				@include inline-block;
			}
		}
	}
}

@if($_bruut--output-text-alignment-classes == true) {

	.text-left {
		@include text--left;
	}

	.text-center {
		@include text--center;
	}

	.text-right {
		@include text--right;
	}

	@each $breakpoint-name, $breakpoint-value in $_bruut--breakpoints-map {

		.text-left-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				text-align: left;
			}
		}

		.text-center-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				text-align: center;
			}
		}

		.text-right-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				text-align: right;
			}
		}
	}
}

@if($_bruut--output-float-classes == true) {

	.pull-right {
		float: right;
	}

	.pull-left {
		float: left;
	}

	@each $breakpoint-name, $breakpoint-value in $_bruut--breakpoints-map {

		.pull-left-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				float: left;
			}
		}

		.pull-right-#{$breakpoint-name} {
			@include breakpoint($breakpoint-name) {
				float: right;
			}
		}

		.reset-pull-#{$breakpoint-name} {
	        	@include breakpoint($breakpoint-name) {
				float: none;
			}
		}
	}
}

.responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	@include visually-hidden;
}

html.ie8 .visually-hidden {
	display: none !important;
	*display: none !important;
}
