//
// Define some basics for the html and body element
// --------------------------------------------------

body, html {
	margin: 0 auto;
	width: 100%;
	background: #fff;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//
// Set the body to height: 100%
// --------------------------------------------------

body {
	height: 100%;

	&.twig-is-parsing {
		visibility: hidden;
	}
}

//
// Font size on the html to 62,5 %, so 1rem is 16px
// --------------------------------------------------

html {
	font-size: 62.5%;
	box-sizing: border-box;

	&.debug {
		*, *:after, *:before {
			outline: 1px solid red;
		}
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
