// Loop trough the icons and make icon-icon-name selectors
@each $icon-name, $icon-value in $_bruut--icon-map {

	.icon--#{$icon-name}:before{
		@include icon($icon-name);
	}
}

i {
	position: relative;
	@include inline-block;
	text-transform: none;
	font-weight: normal;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: "icomoon";
	line-height: 1;
	speak: none;
}
