//
// Icon, use @include icon(icon-key, $map-name);
// --------------------------------------------------

	@mixin icon($icon-item, $map: $_bruut--icon-map){
		font-family: "icomoon";
		content: map-get($map, $icon-item);
	}

//
// Placeholder mixin
// --------------------------------------------------

	@mixin placeholder {
		$placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
			@each $placeholder in $placeholders {
				&:#{$placeholder}-placeholder {
				@content;
			}
		}
	}

//
// Vertical align
// --------------------------------------------------

	@mixin vertical-align {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

//
// Visually hidden mixin
// --------------------------------------------------

	@mixin visually-hidden {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

//
// Vertical align
// --------------------------------------------------

	@mixin inline-block {
		display: inline-block;

		@if($legacy-browser-support) {
			zoom: 1;
			*display: inline;
		}
	}

//
// Breakpoint mixin
// --------------------------------------------------

	@mixin breakpoint($key, $isInBreakpointsMap: true) {

		@if(map-has-key($_bruut--breakpoints-map, nth($key, 1))) {
			@media #{map-get($_bruut--breakpoints-map, nth($key, 1))} {
				@content;
			}
		}@else {
			// Parse the breakpoint as a normal string
			@media #{$key} {
				@content;
			}
		}
	}

//
// Aspect ratio mixin
// --------------------------------------------------

	@mixin aspect-ratio($arglist... /*$ratio or $width, $height*/){
	    $map : keywords($arglist);
	    $height: map-get($map, height) or nth-or-null($arglist, 2);
	    $width:  map-get($map, width)  or nth-or-null($arglist, 1);
	    $ratio:  map-get($map, ratio)  or if($width and $height, $width/$height, nth-or-null($arglist, 1)) or 1;
	    $padding: 1/$ratio * 100%;
	    &:before { content: ''; display: inline-block; vertical-align: middle; padding-bottom: $padding; }
	    &:after  { content: ''; display:table; clear: both; }
	}

	// Helper function
	// Return null rather than throwing an error if index is outside list range.
	@function nth-or-null($list, $index) {
	  @return if(length($list) >= $index, nth($list, $index), null);
	}

//
// Clearfix mixin
// --------------------------------------------------

	@mixin clearfix() {

	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

//
// Clearfix placeholder
// --------------------------------------------------

	%clearfix {

	    &:before,
	    &:after {
	        content: "";
	        display: table;
	    }
	    &:after {
	        clear: both;
	    }
	}

//
// Rem mixin
// --------------------------------------------------

	@mixin rem($type, $size) {

		$number: $size / ($size * 0 + 1);

		@if(unit($size) == 'px' or unit($size) == '') {

			#{$type} : ($number) + px;
			#{$type} : ($number / 10) + rem;

		}@else if (unit($size) == 'rem') {

			#{$type} : ($number * 10) + px;
			#{$type} : ($number) + rem;

		}
	}

//
// Responsive type mixin
// --------------------------------------------------

	@mixin propValue($map) {
		@each $prop, $value in $map {
			#{$prop}: #{$value};
		}
	}

	@mixin font($element) {

		$map: map-get($font, $element);
		$base: map-get($map, base);

		@include propValue($base);

		$mq: map-remove($map, base);

		@each $bp, $attr in $mq {
			@include breakpoint($bp) {
				@include propValue($attr);
			}
		}
	}
