//
// Settings for the SpacePack output
// --------------------------------------------------

	$_bruut-whitespacePack-steps: 			5 !default;
	$_bruut-whitespacePack-spacing: 		$base-spacing / 2 !default;
	$_bruut-whitespacePack-units: (
		'padding': 				'.p',
		'padding-top':  		'.pt',
		'padding-right':		'.pr',
		'padding-bottom':   	'.pb',
		'padding-left':  		'.pl',
		'padding-horizontal': 	'.px',
		'padding-vertical': 	'.py',

		'margin': 				'.m',
		'margin-top':  			'.mt',
		'margin-right':			'.mr',
		'margin-bottom':   		'.mb',
		'margin-left':  		'.ml',
		'margin-horizontal': 	'.mx',
		'margin-vertical': 		'.my'

	) !default;

//
// Output
// --------------------------------------------------

@if($_bruut--output-whitespace-classes == true) {
	@for $i from 0 through $_bruut-whitespacePack-steps {

		/* Whitespace: #{$_bruut-whitespacePack-spacing} * #{$i} */
		@each $key, $value in $_bruut-whitespacePack-units {

			@if($key == 'padding-horizontal') {
				html #{$value}-#{$i} {
					padding-left: $_bruut-whitespacePack-spacing * $i;
					padding-right: $_bruut-whitespacePack-spacing * $i;
				}
			}
			@elseif($key == 'padding-vertical') {
				html #{$value}-#{$i} {
					padding-top: $_bruut-whitespacePack-spacing * $i;
					padding-bottom: $_bruut-whitespacePack-spacing * $i;
				}
			}
			@elseif($key == 'margin-horizontal') {
				html #{$value}-#{$i} {
					margin-left: $_bruut-whitespacePack-spacing * $i;
					margin-right: $_bruut-whitespacePack-spacing * $i;
				}
			}
			@elseif($key == 'margin-vertical') {
				html #{$value}-#{$i} {
					margin-top: $_bruut-whitespacePack-spacing * $i;
					margin-bottom: $_bruut-whitespacePack-spacing * $i;
				}
			}@else {
				html #{$value}-#{$i} {
					#{$key}: $_bruut-whitespacePack-spacing * $i;
				}
			}
		}
	}
}
