//
// $_bruut-GridPack-settings map
// 1.6rem == 16px
// --------------------------------------------------

// Spacing
	$_bruut-GridPack-column-spacing: 				16px !default;
	$_bruut-GridPack-viewport-spacing: 				32px !default;

// General
	$_bruut-GridPack-float-breakpoint: 				mobile !default;
	$_bruut-GridPack-fluid: 						false !default;

	$_bruut-GridPack-wrapper-widths: (
        base:               1024px,
        desktop-small:      800px,
        tablet:             600px,
    ) !default;

// Naming options
	$_bruut-GridPack-name-for-wrapper: 				'grid' !default;
	$_bruut-GridPack-name-for-row: 					'row' !default;
	$_bruut-GridPack-name-for-column: 				'column' !default;

// Flex options
	$_bruut-GridPack-name-for-flex-row: 			'row-flex' !default;
	$_bruut-GridPack-name-for-flex-column: 			'column-flex' !default;
	$_bruut-GridPack-name-for-flex-grow-addition: 	'grow' !default;
	$_bruut-GridPack-name-for-flex-auto-addition: 	'auto' !default;

	$_bruut-GridPack-use-numbered-columns: 			true !default;
	$_bruut-GridPack-numbered-columns-count: 		12 !default;
	$_bruut-GridPack-numbered-column-name: 			'span' !default;

// Output options
	$_bruut-GridPack-output-css: 					true !default;
	$_bruut-GridPack-output-column-extras: 			false !default;

//
// Don't delete these: import the grid-mixins and after that: 'build' grid scss
// --------------------------------------------------

@import "components/mixins";
@import "components/build";