//
// Return the z-index from a map (defaults to $z-index)
// --------------------------------------------------

	@function z-index($key, $map: $_bruut--z-index-map) {
		@if map-has-key($map, $key) {
			@return map-get($map, $key);
		}

		@warn "Unknown `#{$key}` in $z-index. Function z-index() in functions.scss";
		@return null;
	}

//
// Get color from map
// Arguments: color (text), map (defaults to $project-colors)
// --------------------------------------------------

	@function c($color, $color-map: $_bruut--colors-map) {
		@return map-get($color-map, $color);
	}
